
$font-title: 'Cinzel', serif;
$font-content: 'Prompt', sans-serif ;

$background-dark: #202731;
$background-darker: #0f0f10;
$background-dark-gradient: linear-gradient(0deg, $background-dark, $background-darker);
$background-light: #f4f4f4;
$brand: blue;
$brand-dark: navy;
$brand-light: skyblue;
$red:  #dd3f31;
$pink:  #ff80b3;
$pink:  #ff0066;
$text-dark: #161616;
$text-light: #f4f4f4;

$screen-xsm-max: 390px;
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 1024px;
$screen-xl-min: 1400px;
