
$font-title: 'Cinzel', serif;
$font-content: 'Prompt', sans-serif ;

$background-dark: #202731;
$background-darker: #0f0f10;
$background-light: #f4f4f4;
$brand: blue;
$brand-dark: navy;
$brand-light: skyblue;

$text-dark: #161616;
$text-light: #f4f4f4;

$screen-xsm-max: 390px;
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 1024px;
$screen-xl-min: 1400px;
