@import 'variables';
@import 'mixins';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-content;
    // border: 1px solid red;
}

body {
    width: 100%;
    background: #202731;
    background: $background-dark;
    color: $text-light;
    overflow-x: hidden;
}

.container {
    width: 100%;
    overflow-x: hidden;
}

section {
    // border: 3px solid red;
    @include flex (center, center , column);
    position: relative;
    min-height: 85vh;
    padding: 10vh 10vw;
    gap: 1rem;
    isolation: isolate;
    // width: 100%;

    p {
        text-transform: uppercase;
    }

    &.blue {
        background: #3c31dd;
        background: linear-gradient(0deg, #3c31dd,hsl(244, 72%, 40%) );
    }
    &.red {
        background: $red;
    }
    &.pink {
        background: $pink;
    }
    &.dark {
        background: $background-dark-gradient;
    }
    &.tilt-section {
        background-color: $background-dark;
    }

}

// CURVE 1
.curve {
    position: absolute;
    bottom: 0;
    height: 125px;
    width: 100%;
    &::before, &::after {
        content: '';
        display: block;
        position: absolute;
        border-radius: 100% 50%;
        // border: 2px solid green;
        width: 55%;
        height: 100%;
    }
    &::before {
        background-color: yellow;
        background-color: $background-dark;
        transform: translate(85%, 60%);
    }
    &::after {
        background-color: green;
        background-color: #3c31dd;
        transform: translate(-4%, 40%);
        z-index: -1;
    }
}

// BUBBLE
.bubble {
    isolation: isolate;
    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        height: 80%;
        width: 100%;
        border-top-left-radius: 50% 100%;
        border-top-right-radius: 50% 100%;
        background-color: $background-darker;
        z-index: -1; 
    }
}
// DARK 
// RED
.wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave svg {
    position: relative;
    display: block;
    width: calc(174% + 1.3px);
    height: 250px;
    // animation: curve 2s infinite;

    @keyframes curve {
        50% {
            height: 200px;
            transform: scaleX(1.1);
        }
    }
}

.wave .shape-fill {
    fill: $background-dark;
}

.tilt {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    
    height: 30vh;
    line-height: 0;
    z-index: 10;
    // border: 2px solid yellow;

    &.tilt-bottom {
        top: unset;
        bottom: 0;
        transform: rotateX(180deg);
    }
}

.tilt svg {
    position: relative;
    display: block;
    width: calc(192% + 1.3px);
    height: 100%;
    // border: 3px solid black;
}

.tilt .shape-fill {
    fill: $red;
}

.spacer {
    aspect-ratio: 960/930;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 3px solid green;
    // height: 90vh;
    
}

.layer1 {
    background-image: url('../img/layer1.svg');
}

.layer2 {
    background-image: url('../img/layer2.svg');
    height: 100vh;
}
.flip {
    transform: rotate(180deg);
}

.blob-motion {
    position: absolute;
    // transform: translateY(-20%);
    z-index: -1;
}